node_modules/
node_modules
.expo/
.redwood
.yarn
.web
dist/
npm-debug.*
*.jks
*.p8
.env
.api
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
api/src/functions/verifyFirebaseIdToken/verifyFirebaseIdToken.js
api/src/functions/postLogin/postLogin.js
